a:hover {
  font-size: 34px;
}
body {
  width: 100vw;
  background: linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-number {
  font-size: 40px;
  font-family: "Mohave", sans-serif;
  padding-top: 15px;
}
.card2 {
  background-color: yellow;
}
.round-corners {
  border: solid 1px;
  border-radius: 10px;
}
.buttonsize {
  width: 15vw;
  margin-left: 45%;

  margin-right: 45%;
}
.carousel-container {
  margin: 10%;
  background-color: tomato;
}
